<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="locale" class="java.util.Locale" factory-method="getDefault" />
	
	<bean id="calendar" class="java.util.GregorianCalendar" factory-method="getInstance">
		<constructor-arg ref="locale" />
	</bean>
	
	<bean id="formatter" class="java.text.SimpleDateFormat" factory-method="getInstance" />

</beans>
