<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init">

	<bean id="someBean1" class="info.owczarek.springtutorial.SomeBean"/>
	<bean id="someBean2" class="info.owczarek.springtutorial.SomeBean"/>
	<bean id="someBean3" class="info.owczarek.springtutorial.SomeBean"/>

</beans>
